-var shapes = ["square", "Triangle", "Circle"]

mixin calc(setShape, text)
  .geometry
    h2= setShape
    .geometry__content
      img(src="images/" + setShape +".png", alt="square")
      .geometry__form
        form(action="")
          label(for= setShape + "Entry")= text
          br
          input(id= setShape + "Entry" type="Number")
          button(type="button" onclick= setShape + "Results()")= "Submit"
        h3= "Area"
        p(id= setShape + "AreaC")
        h3= "Perimeter"
        p(id=setShape + "PerimeterC")

  