footer 
  .media
    h3= "Follow me"
    a(href="http://https://github.com/luigui-py")="GitHub"
    a(href="http://https://twitter.com/_Luigui___")="Twiter"
    a(href="https://www.linkedin.com/in/luis-rodr%C3%ADguez-7099401b6/")="LinkedIn"
  .contact
    input(type="Text" placeholder="Name")
    input(type="Email" placeholder="Email")
    input(type="text" placeholder="Write your message")
    button(type="button")= "Send" 
      
